/*Between phone and tablet*/
@media (max-width: 1024px) {
	.sharesSituation{
	  margin-right: 4%;
	}
	h1{
	  font-family: "Tisa Pro", serif;
	  font-size: 1.2em;
	  line-height: 1;
	}

	h2{
	  font-family: "freight-sans-pro";
	  font-weight: 500;
	  font-size: 0.7em;
	  color: #5B5B5B;
	  line-height: 1.1;
	}

	.outputFields td{
	  font-family: "Tisa Pro", serif;
	  font-size: 1em;
	  padding-right:50px;
	  opacity: 0.05;
	  text-align: right;
	}

	.outputFields th{
	  font-family: "freight-sans-pro";
	  font-weight: 400;
	  font-size: 0.7em;
	  line-height: 1;
	  text-align: left;
	  padding-bottom: 6px;
	}

	.inputFieldItem{
		max-width: 165px;
	}

	.inputFieldItem label{
	  display: block;
	  font-family: "freight-sans-pro";
	  font-weight: 500;
	  font-size: 0.7em;
	  color: #5B5B5B;
	  line-height: 1;
	}

	.inputFieldItem {
	  max-width: 18%;
	}

	.inputFieldItem input{
	  border: 0;
	  background-color: #FAFAF5;
	  max-width: 95%;
	  font-family: "Tisa Pro", serif;
	  font-size: 1.2em;
	  position:relative;
	}

	.inputFieldItem input:focus {
		background-color: #F5F5F0;
		outline:none;
		border-top: solid 2px #222;
		margin-top: -2px;
	}

	button{
	  margin: 0 0 0px 5px;
	}

	button img{
	  margin-bottom: 1px;
	  height: 10px;
	}
	select{
	  font-family: "Tisa Pro", serif;
	  font-size: 1.2em;
	  padding-left: 0;
	  margin: 2% 0;
	}
	#addNewNote{
	  font-family: "Tisa Pro", serif;
	  font-size: 1.2em;
	  padding-left: 0;
	  margin: 2% 0;
	}
}

/*Smaller than phones*/
@media (max-width: 750px) {
	.inputFieldGroup{
		flex-direction: column;
	}
	.inputFields{
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.outputFields{
		flex-direction: column;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.inputFieldItem {
	  width: 100%;
	  max-width: 100%;
	  margin-bottom: 10px;
	  margin-top: 10px;	
	}
	.inputFieldItem input{
	  border: 0;
	  background-color: #FAFAF5;
	  width: 100%;
	  font-family: "Tisa Pro", serif;
	  font-size: 1.5em;
	  position:relative;
	}
	.inputFieldItem .line{
	  height: 2px;
	  background-color: #222;
	  width: 100px;
	}

	h1{
	  font-family: "Tisa Pro", serif;
	  font-size: 2em;
	  line-height: 1;
	}

	h2{
	  font-family: "freight-sans-pro";
	  font-weight: 500;
	  font-size: 0.9em;
	  color: #5B5B5B;
	  line-height: 1.1;
	}

	.outputFields td{
	  font-family: "Tisa Pro", serif;
	  font-size: 1.5em;
	  padding-right:20px;
	  opacity: 0.05;
	  text-align: right;
	}

	.outputFields th{
	  font-family: "freight-sans-pro";
	  font-size: 0.9em;
	  line-height: 1;
	  text-align: left;
	  padding-bottom: 6px;
	}
	
	table:nth-child(1){
		margin-bottom: 30px;
	}

	.rowHead{
		min-width: 154px;
	}

	.inputFieldItem label{
	  font-family: "freight-sans-pro";
	  font-size: 1em;
	  line-height: 1;
	}

	.inputFieldItem input{
	  border: 0;
	  max-width: 95%;
	  font-family: "Tisa Pro", serif;
	  font-size: 2.5em;
	}

	button{
	  margin: 0 0 0px 9px;
	}

	button img{
	  margin-bottom: 2px;
	  height: 21px;
	}
	select{
	  font-family: "Tisa Pro", serif;
	  font-size: 2.5em;
	  padding-left: 0;
	  margin: 2% 0;
	}
	#addNewNote{
	  font-family: "Tisa Pro", serif;
	  font-size: 2em;
	  padding-left: 0;
	  margin: 2% 0;
	}

}
